body{
    background: linear-gradient(tomato,whitesmoke);
    text-align: center;
    margin:0 auto;
}

#menu_img{
    display: flex;
}

#chi-zu,#sho-to,#gato-shokora{
    margin:0 auto;
}

img{
    width:300px;
    height:200px;
}

#game_page{
    height:100vh;
}

#stage{
    position:relative;
    width:600px;
    height:400px;
    margin:0 auto;
    background:linear-gradient(pink,whitesmoke);
}

#start img{
    position:absolute;
    width:250px;
    height:100px;
    top:150px;
    left: 180px;
}

.chara {
    width: 32px;
    height: 32px;
    background: url(img/cake.gif) no-repeat top;
    border: none;
    outline: none;/*叩いた後、ワクが出ちゃう*/
    position: absolute;
    zoom: 100%;
    top: 450px;
    left: 800px;
    opacity: 0;
}